{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
       "react-native-paper/babel",
      [
        "babel-plugin-inline-import",
        {
          "extensions": [".svg"]
        }
      ],
      "react-native-reanimated/plugin"
    ]
  }